
/* ----------------------------------------------------------------

	blog.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Blog
-----------------------------------------------------------------*/
.post {
	position: relative;
	margin-bottom: 1.5rem;
}

.post-thumbnail {
	display: block;
	position: relative;
	width: 100%;

	img {
		width: 100%;
	}
}

.post-content {
	padding: 0.5rem 0;
	background-color: $white;

	.entry-meta {
		padding: 1rem 1.2rem;
		color: $white;
		background-color: $theme-color;
		line-height: 1;

		p {
			font-family: $heading-font;
			font-size: 2.1875rem;
			font-weight: 700;
		}

		span {
			font-size: 1.125rem;
			font-weight: 500;
			letter-spacing: 0.05rem;
		}
	}

	.entry-link {
		font-weight: 300;
		color: #ff9f63;
	}

	.entry-content {
		color: #8b8b8b;
	}
}
