
/* ----------------------------------------------------------------

	footer.scss

-----------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Footer
-----------------------------------------------------------------*/


/* ----------------------------------------------------------------
	Add here styles for footer. Thanks!
-----------------------------------------------------------------*/

#footer {
	background-color: #000;
}

#footer-main {
	padding-top: 3rem;
	padding-bottom: 3rem;
	border-bottom: 1px solid rgba($color: #fff, $alpha: 0.2);
}

#footer-bottom {
	padding: 2.5rem 0 5rem;

	p {
		color: rgba($color: #fff, $alpha: 0.5);
		font-weight: 500;	
		line-height: 2;
		z-index: 1;	
		font-size: 0.875rem;
	}
}