/*-----------------------------------------------------------------------------------

	Shortcodes: timeline.scss

-----------------------------------------------------------------------------------*/

/* ----------------------------------------------------------------
	Timeline Styles
-----------------------------------------------------------------*/
.event-date {
    font-size: 1.125rem;
    color: $theme-color;
}

.event-title {
    font-size: 1.875rem;
    color: $dark;
    font-weight: 400;
}